{% extends 'layouts/master.twig' %}

{% block content %}
<h2> Se connecter </h2>
<div class="screen">
    <form class="formMenu" action="{{ base_url() }}/Connection" method="POST">
        <p>
            <label for="email"></label>
    	    <input type="email" name="email" placeholder="Adresse email ..."/>
        </p>
        <p>
            <label for="password"></label>
            <input type="password" name="password" placeholder="Mot de passe ..."/>
        </p>
        <button type="submit" class="boutton">Connexion</button>
        <br><br>
    </form>
</div>
{% endblock %}