{% extends 'layouts/master.twig' %}

{% block content %}
	<div class="main_container">
			
        <div class ="screen">
		<h3> Vous êtes ? </h3>
		<div>
		<button class="boutton" id="buttEntreprise">Une entreprise</button>
		<button class="boutton" id="buttMOA">Un maitre d'oeuvre</button>
		</div>
		<form class="formMenu" id="formEntreprise" action="" method="post">
			<input type="hidden" name="type" class="type" value="2"/>
			<p>
            	<label for="nom" class="labelnom"></label>
            	<input type="text" name="nom" class="nom" placeholder="Nom..."/>
        	</p>
			<p>
            	<label for="siret" class="labelnom"></label>
            	<input type="text" name="siret" class="siret" placeholder="N°Siret"/>
        	</p>
            <p>
            	<label for="email" class="labelemail"></label>
            	<input type="text" name="email" class="email" placeholder="Email de contact"/>
        	</p>
			<p>
            	<label for="password" class="labelmdp"></label>
            	<input type="password" name="password" class="password" placeholder="Mot de passe"/>
        	</p>
			<p>
            	<label for="domaine" class="labeledomaine"></label>
            	<input type="text" name="domaine" class="domaine" placeholder="domaine de l'entreprise"/>
        	</p>
			<button type="submit" class="boutton">Valider</button>
			<br><br>
	 	</form>
		<form class="formMenu" id="formMOA" action="" method="post">
		<input type="hidden" name="type" class="type" value="3"/>
				<p>
            	<label for="nom" class="labelnom"></label>
            	<input type="text" name="nom" class="nom" placeholder="Nom..."/>
        	</p>
			<p>
            	<label for="nom" class="labelnom"></label>
            	<input type="text" name="siret" class="siret" placeholder="N°Siret"/>
        	</p>
            <p>
            	<label for="email" class="labelemail"></label>
            	<input type="text" name="email" class="email" placeholder="Email de contact"/>
        	</p>
			<p>
            	<label for="mdp" class="labelmdp"></label>
            	<input type="password" name="password" class="password" placeholder="Mot de passe"/>
        	</p>
			<p>
            	<label for="ville" class="labeleville"></label>
            	<input type="text" name="ville" class="ville" placeholder="ville de l'organisme"/>
        	</p>
			<button type="submit" class="boutton">Valider</button>
			<br><br>
	 	</form>
         </div>
    </div> 
<script src="{{base_url()}}/js/FormInsc.js"></script>
{% endblock %}