{% extends 'layouts/master.twig' %}

{% block content %}
<div class="screen">
    <form action="#" method="POST">
        <label for="titre"></label>
        <input type="text" name="titre" placeholder="Titre">
        <br>
        <label for="description"></label>
        <input type="text" name="description" placeholder="Description">
        <br>
        <label for="contenu"></label>
        <input type="text" name="contenu" placeholder="Contenu">
        <br>

        <button type="submit" class="boutton">Mettre en ligne</button>
    </form>
</div>
{% endblock %}