<header>
<div class="container_header">
	<nav class="nav_header_account">
		<ul class="list_grid_account">
			<li>Bienvenue sur Equipe5 </li>
		</ul>
	</nav>
	<div class="pres_header">
		<h1>Equipe5</h1>
	</div>
	<nav class="nav_menu">
		<a class="homeButton fas fa-home" href="{{base_url()}}/"></a>
	</nav>
	<hr/>
</div>
</header>