{% extends 'layouts/master.twig' %}

{% block content %}
<div class="screen">
    <form action="#" method="POST">
        <label for="libelle"></label>
        <input type="text" name="libelle">
        <br>
        <label for="description"></label>
        <textarea name="description" cols="100" rows="3"></textarea>
        <br>
        <label for="contenu"></label>
        <textarea name="contenu" cols="100" rows="40"></textarea>
        <br>

        <button type="submit" class="boutton">Soumettre la réponse</button>
    </form>
</div>
{% endblock %}