<a href="{{ base_url() }}/AppelOffre{{ ao.id }}" class="appel_offre">
    <div class="screen">
        <h2 class="nom">{{ ao.titre }}</h2>
        <br>
        <p class="description">{{ ao.description }}</p>
    </div>
</a>